.box {
  //display: inline-block;
  padding: 10;
  //width: 25vw;
  //height: 25vw;
}
.parent {
  display: inline-flex;
  flex-wrap: wrap;
}
p {

}
header {
  background-color: darkblue;
  text-align: center;
  color: white;
}
